header{
    position: sticky;   
    top: 0; 
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--t6Red);
    z-index: 9;
    height: 70px;
}
span{
    font-family: 'HighSchoolUSASerif';
    font-size: 40px;
    cursor: pointer;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
a{
    cursor: pointer;
    color: #fbfbfb;
    font-family: 'HighSchoolUSASerif';
    font-size: 1.2rem;
    transition: all .2s ease-in-out; 
}
a:hover{
    color: rgb(235, 223, 223);
    font-size: 1.1rem;
}