<app-header></app-header>
<div class="container">
  <img
    class="t6banner"
    src="../assets/images/t6banner.jpeg"
    alt="logo t6banner"
  />

  <section class="sobre-section" id="sobre">
    <h2>SOBRE</h2>
    <div class="texto-sobre">
      <p>
        Somos a <span>Sexto Jogador</span>,<br />
        torcida organizada da PaiN Gaming, a maior organização de e-sports da
        America Latina. Fomos fundados no dia 25.08.2023, e desde então nosso
        comprometimento vai além das telas, estendendo-se aos eventos
        presenciais.
      </p>
      <p>
        Além disso, buscamos nos envolvemos em ações para contribuir
        positivamente com a sociedade e com nossa comunidade.
      </p>
      <p>
        Com filiais espalhadas por diversos estados do Brasil, quebramos
        barreiras geográficas para espalhar a empolgação dos e-sports para além
        do tradicional eixo Rio-São Paulo.
      </p>
    </div>
  </section>
  <section class="filiais-section" id="filiais">
    <h2>FILIAIS</h2>
    <div class="filiais-container">
      <app-filial
        estado="Rio de Janeiro"
        logo="../assets/images/t6Rj.jpg"
        url="https://twitter.com/sextojogador_rj"
      ></app-filial>
      <app-filial
        estado="Bahia"
        logo="../assets/images/t6Br.jpg"
        url="https://twitter.com/sextojogador_BA"
      ></app-filial>
      <app-filial
        estado="Minas Gerais"
        logo="../assets/images/t6Mg.jpg"
        url="https://twitter.com/sextojogadormg"
      ></app-filial>
      <app-filial
        estado="Ceará"
        logo="../assets/images/t6Ce.jpg"
        url="https://twitter.com/sextojogador_CE"
      ></app-filial>
      <app-filial
        estado="Pernambuco"
        logo="../assets/images/t6Pe.jpg"
        url="https://twitter.com/sextojogador_pe"
      ></app-filial>
      <app-filial
        estado="Pará"
        logo="../assets/images/t6Br.jpg"
        url="https://twitter.com/sextojogador_PA"
      ></app-filial>
    </div>
  </section>
  <section class="redes-sociais-section" id="redes-sociais">
    <h2>REDES SOCIAIS</h2>
    <div class="redes-widget">
      <app-twitter-widget></app-twitter-widget>
      <app-instagram-widget></app-instagram-widget>
    </div>
  </section>
</div>
