<app-header></app-header>
<div class="container">
  <img
    class="t6banner"
    src="../assets/images/t6banner.jpeg"
    alt="logo t6banner"
  />

  <section class="sobre-section">
    <h2>SOBRE</h2>
    <div class="texto-sobre">
      <p>
        Somos a <span>Sexto Jogador</span>,<br />
        torcida organizada da PaiN Gaming, a maior organização de e-sports da
        America Latina. Fomos fundados no dia 25.08.2023, e desde então nosso
        comprometimento vai além das telas, estendendo-se aos eventos
        presenciais.
      </p>
      <p>
        Além disso, buscamos nos envolvemos em ações para contribuir
        positivamente com a sociedade e com nossa comunidade.
      </p>
      <p>
        Com filiais espalhadas por diversos estados do Brasil, quebramos
        barreiras geográficas para espalhar a empolgação dos e-sports para além
        do tradicional eixo Rio-São Paulo.
      </p>
    </div>
  </section>
</div>
